@media (max-width: 767px) {
	.thumbnails > li {
	  margin-left: 0;
	}
}

.thumbnail {
	background-color: @white;
}

.loading-spinner {
	@loadingBoxWidth: 140px;
	@loadingBoxHeight: 80px;

	position: fixed;
	top: 50%;
	left: 50%;
	z-index: @zindexModal;
	display: block;
	width: @loadingBoxWidth;
	height: @loadingBoxHeight;
	margin-top: -@loadingBoxHeight / 2;
	margin-left: -@loadingBoxWidth / 2;

	#font .sans-serif(1.5em, bold, 1.1em);
	text-align: center;

	#translucent .background(lighten(@grayLight, 20%), 0.8);
	.border-radius(5px);
}
