<template name="destinationInfo">

	<div class="row">
		<div class="span3">
			{{#with photo}}
				{{> photoStandalone}}
			{{/with}}
		</div>
		<div class="span3 well">
			{{> destinationCategories}}
		</div>
		<div class="span4 well">
			{{> destinationCosts}}
		</div>
		{{#if location}}
			{{#with location}}
				<div class="span4 well">
					{{> locationInfo}}
				</div>
			{{/with}}
		{{/if}}
	</div>

	<div class="row">
		<div class="span6 well">
			{{> trips}}
		</div>
		<div class="span4 well">
			{{> destinationLinks}}
		</div>
	</div>

	<div class="row">
		<div class="span6 well">
			<h2>Comment on this destination</h2>
			{{> facebookComments}}
		</div>
		{{> showTweets}}
	</div>

</template>
