<template name="contact">
	<div class="row">
		<div class="span6">
			<h1>Contact</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut elit nibh. Quisque nisl lacus, pharetra ac vulputate ut, auctor vel felis. Ut sed justo non mauris vulputate scelerisque vitae in lectus. Vivamus condimentum lobortis sem eu faucibus. Praesent in adipiscing velit. Vestibulum quis volutpat sapien. Pellentesque quis libero ligula, vitae lobortis sapien. Pellentesque non augue quis eros pulvinar gravida nec ac ante. Vivamus fringilla enim in urna accumsan consectetur vehicula augue scelerisque. Morbi eu egestas velit. Vestibulum pharetra faucibus ullamcorper. Proin diam nisi, convallis iaculis sollicitudin eget, mattis at tortor. Nam sit amet lacus nec leo dictum bibendum eu id elit.
			</p>
		</div>
	</div>
</template>
