<template name="navbar">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/">TravelSite</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li><a href="/destinations/find"><i class="icon-briefcase"></i> Holidays</a></li>
						<li><a href="/destinations"><i class="icon-plane"></i> Destinations</a></li>
						<li><a href="/create-destination"><i class="icon-road"></i> Create Destination</a></li>
						<li><a href="/about"><i class="icon-question-sign"></i> About</a></li>
						<li><a href="/contact"><i class="icon-envelope"></i> Contact</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
</template>
