<template name="newDestination">
	<div class="row">
		<div class="span6">
			<h1>Destination: {{destination}}</h1>
		</div>
	</div>

	<div class="row">
		<div class="span3">
			{{#if photo}}
				{{#with photo}}
					{{> photoStandalone}}
				{{/with}}
			{{/if}}
		</div>

		<div class="span6">
			<form class="new-destination well form-vertical">
				<label for="description">Description</label>
				<textarea id="description" rows="10" cols="30"></textarea>

				<button type="submit" class="btn btn-primary">Create Destination</button>

				<a class="btn" href="/">Cancel</a>
			</form>
		</div>
	</div>

</template>
