<template name="chooseDestination">
	
	<div class="row">
		<div class="span12">
			<h1>Where would you like to go?</h1>
			<form class="choose-destination well form-inline">
				<label for="destination">Destination</label>
				<input id="destination" name="destination" type="text" placeholder="Anywhere in the world..." required>
				<button type="submit" class="btn">Go &raquo;</button>
			</form>
		</div>
	</div>

	{{#unless loadingPhotos}}
		<div class="images">
			{{> flickrImages}}
		</div>
	{{/unless}}

</template>
